@charset "iso-8859-1";
body {
    margin:             0 0;
    padding:            0 0;
    color:              black;
    background-color:   white;
    font-size:          16px;
    font-family:        Arial, Verdana, Helvetica, sans-serif;
    line-height:        1.8em
}

h1 {font-size: 1.5em; margin: 3px 0px; font-family: Arial}
h2 {font-size: 1.4em; margin: 3px 0px; font-family: Arial}
h3 {font-size: 1.2em; margin: 3px 0px; font-family: Arial}
h4 {font-size: 1em; margin: 3px 0px; font-family: Arial}
h5 {font-size: 1em; margin: 3px 0px; font-family: Arial}
h6 {font-size: 1em; margin: 3px 0px; font-family: Arial}

p {
    margin:             5px 0px;
    font-size:          11px;
    line-height:        1.1em;
    font-family:        Verdana, Arial, Helvetica, sans-serif
}

hr {
	height: 1px;
}

dt {
    font-weight:        bold;
    font-size:          11px;
}

dd {
    font-size:          11px;
}

li {
    font-size:          10pt;
}

a {text-decoration: none; font-weight: bold; font-size: 10pt; font-family: arial; color: #0000FF; background-color: transparent; line-height: 1.2em}

img {border: 0}

pre {border: 1px solid #000; background: #cfcfcf; padding: 15px}

A.sidenav {font-size: 10px; font-weight: bold; color: black}
A.sidenav:hover {font-size: 10px; font-weight: bold; color: red}
A.mylinks {font-size: 12px; color: #000000}
A.mylinks:hover {font-size: 12px; color: red}
A.normallinks {font-size: 10pt; color: #000000}
A.normallinks:hover {font-size: 10pt; color: blue}
A.indexlinks {font: arial; font-size: 16px; font-weight: bold; color: #771ed0}
A.indexlinks:hover {font: arial; font-size: 16px; font-weight: bold; color: white}


SPAN.form {font-family: monospace}
SPAN.speed {color: #FFFF99; text-decoration: none; font-size: 10px; font-weight: bold;}
SPAN.topmenu {color: #000; text-decoration: none; font-size: 10px; font-weight: bold;}
SPAN.topmenu2 {color: #000; text-decoration: none; font-size: 10px;}
SPAN.medium {color: #000; text-decoration: none; font-size: 11px;}
SPAN.title {color: #000; text-decoration: none; font-size: 11px; font-weight: bold;font-family: arial;}
TD.SMALL {font-size: 10px;}
TR.ALT1 {background: #FFF;}
TR.ALT2 {background: #C0C0C0;}
#SMALL {font-size: 10px;}

A.CURRSECTION:LINK {font-weight: bold; text-decoration: none; color: white; font-size: 10px; background: blue;}
A.CURRSECTION:HOVER {font-weight: bold; text-decoration: none; color: white; font-size: 10px; background: blue;}

TABLE.restab {width: 100%; background: #C0C0C0; border: 1 solid black; border-spacing: 50px;}
TABLE.restab50 {width: 50%; background: #C0C0C0; border: 1 solid black; border-spacing: 50px;}
.rescap {font: bold 1.2em/1.2; text-align: left;}
.restabh {background: #FC0; font: bold ; font-size: 10px;}

#features {
    font-size:       12px;
    font-weight:     bold;
    background:      #000000;
}

#features td {
    font-size:       9px;
    font-weight:     bold;
    background:      #FFFFCC;
}

#features td h4{
    font-size:       12px;
    font-weight:  	 bold;
}

#features2 td {
    font-size:       8px;
    font-weight:  	 bold;
    background:      #FFFFCC;
}

#scorebox {
    float:              right;
    width:              180;
    background:         #C0C0C0;
    border:             1px solid #000;
    margin-right:       0px;
    padding-left:       4px;
    padding-right:      0px;
    padding-top:	    0px;
    padding-bottom:     0px;
    color:              #000;
    margin-left:		0px;
    min-width:          770px;
    font-size:          9px;
}

#scoreboxold ul li{
    font-size:          9px;
    font-weight:        bold;
}

#scorebox td {
    font-size:          9px;
}

#scorebox p {
    font-size:          9px;
}

#scores td {
    font-size:       12px;
    font-weight:  bold;
    background:         #FFFFCC;
}

#mobohead {
    background:     #C0C0C0;
    border:         1px solid #000;
    font-size:      9px;
    font-weight:    bold;
}

#content {
    padding:        10px;
    text-align:     left;
    border:         1px solid #000;
    width:          100%;

}

#content ul{
    font-size:      9px;


}

#content ol{
    font-size:      9px;


}

#red {
    color: #FF0000
}

#contentheader {
    padding:        10px 10px;
    text-align:     left;
    width:          100%;
	font-size: 18px;
	font-family: arial;
	font-weight: bold;
	border-bottom: 1px #C0C0C0 solid;
}

.smalltext {
 font: 10pt Arial;
 color: #000000
}

.tabletext {
 font: 10pt Arial;
 color: #000000
}

.normaltext {
 font: 12pt Arial;
 color: #000000
}

.redfont {
 font: 12pt Arial;
 color: #FF0000
}

.greenfont {
 font: 12pt Arial;
 color: #00FF00
}

.bluefont {
 font: 12pt Arial;
 color: #0000FF
}

.whitefont {
 font: 12pt Arial;
 color: #FFFFFF
}

.boldwhitefont {
 font: bold 12pt Arial;
 color: #FFFFFF
}

.programtext {
 font: 10pt Courier;
 color: #000000
}

.footnote1 {
 font: italic 8pt Arial;
 color: #000000
}

.footnote2 {
 font: italic 12pt Arial;
 color: #000000
}

.bullet1 {
 font-size: 12pt;
 color: #000000;
 font-family: "Arial"
}

.bullet2 {
 font-size: 10pt;
 color: #000000;
 font-family: "Arial"
}

.dropcap {
 font: italic 34pt Arial bold;
 color: #000000;
 width: 15pt;
 float: left
}

.heading1 {
 font: bold 22pt Arial;
 color: #000000
}

.heading2 {
 font: bold 18pt Arial;
 color: #000000
}

.heading3 {
 font: bold 14pt Arial;
 color: #000000
}

.heading4 {
 font: bold 12pt Arial;
 color: #000000
}

.headunderline {
 font: bold 12pt Arial;
 color: #000000;
 text-decoration: underline;
}

/* --- menu styles ---
note:
	not all browsers render styles the same way so try out your style sheet
	on different browsers before publishing;
*/
/* level 0 inner */

.m0l0iout {
	font: bold 12px Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 4px;
	color: #000000;
}
.m0l0iover {
	font: bold 12px Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 4px;
	color: #000000;
}

/* level 0 outer */
.m0l0oout {
	text-decoration : none;
	border : 1px solid #000000;
	background: #eeeeee;
}
.m0l0oover {
	text-decoration : none;
	border : 1px solid #000000;
	background: #dddddd;
}

/* level 1 inner */
.m0l1iout {
	font: 12px Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 4px;
	color: #000000;
}
.m0l1iover {
	font: 12px Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding: 4px;
	color: #000000;
}

/* level 1 outer */
.m0l1oout {
	text-decoration : none;
	border : 1px solid #000000;
	background: #eeeeee;
	filter: alpha(opacity=85);
}
.m0l1oover {
	text-decoration : none;
	border : 1px solid #000000;
	background: #dddddd;
}

/* level 2 inner */
.m0l2iout {
	font: 12px Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 4px;
	color: #000000;
}
.m0l2iover {
	font: 12px Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding: 4px;
	color: #000000;
}

/* level 2 outer */
.m0l2oout {
	text-decoration : none;
	border : 1px solid #000000;
	background: #eeeeee;
	filter: alpha(opacity=85);
}
.m0l2oover {
	text-decoration : none;
	border : 1px solid #000000;
	background: #dddddd;
}