<div id="html5">
<h2>Ansible</h2>
<hr />
<div>
    <table>
<caption id="ansible">
    <h4>Ansible command help</h4>
    <em>Usage: ansible <host-pattern> [options]</em>
</caption>
    <colgroup>
        <col style="text-align:left;" "line-height:16px;"/>
        <col style="text-align:left;" "line-height:16px;"/>
    </colgroup>
    <thead>
    <tr>
        <th>Options</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
        <tr><td><code>-a MODULE_ARGS,<wbr>--args=MODULE_ARGS</code></td>  <td>module arguments</td></tr>
        <tr><td><code>--ask-become-pass</code></td>  <td>ask for privilege escalation password</td></tr>
        <tr><td><code>-k, --ask-pass</code></td>  <td>ask for connection password</td></tr>
        <tr><td><code>--ask-su-pass</code></td>  <td>ask for su password (deprecated, use become)</td></tr>
        <tr><td><code>-K, --ask-sudo-pass</code></td>  <td>ask for sudo password (deprecated, use become)</td></tr>
        <tr><td><code>--ask-vault-pass</code></td>  <td>ask for vault password</td></tr>
        <tr><td><code>-B SECONDS, --background=SECONDS</code></td>  <td>run asynchronously, failing after X seconds (default=N/A)</td></tr>
        <tr><td><code>-b, --become</code></td>  <td>run operations with become (nopasswd implied)</td></tr>
        <tr><td><code>--become-method=BECOME_METHOD</code></td>  <td>privilege escalation method to use (default=sudo), valid choices: [ sudo | su | pbrun | pfexec | runas | doas ]</td></tr>
        <tr><td><code>--become-user=BECOME_USER</code></td>  <td>run operations as this user (default=root)</td></tr>
        <tr><td><code>-C, --check</code></td>  <td>don't make any changes; instead, try to predict some of the changes that may occur</td></tr>
        <tr><td><code>-c CONNECTION, --connection=CONNECTION</code></td>  <td>connection type to use (default=smart)</td></tr>
        <tr><td><code>-D, --diff</code></td>  <td>when changing (small) files and templates, show the differences in those files; works great with --check</td></tr>
        <tr><td><code>-e EXTRA_VARS, --extra-vars=EXTRA_VARS</code></td>  <td>set atditional variables as key=value or YAML/JSON</td></tr>
        <tr><td><code>-f FORKS, --forks=FORKS</code></td>  <td>specify number of parallel processes to use (default=5)</td></tr>
        <tr><td><code>-h, --help</code></td>  <td>show this help message and exit</td></tr>
        <tr><td><code>-i INVENTORY, --inventory-file=INVENTORY</code></td>  <td>specify inventory host path (default=/usr/local/etc/ansible/hosts) or comma separated host list</td></tr>
        <tr><td><code>-l SUBSET, --limit=SUBSET</code></td>  <td>further limit selected hosts to an atditional pattern</td></tr>
        <tr><td><code>--list-hosts</code></td>  <td>outputs a list of matching hosts; does not execute anything else</td></tr>
        <tr><td><code>-m MODULE_NAME, --module-name=MODULE_NAME</code></td>  <td>module name to execute (default=command)</td></tr>
        <tr><td><code>-M MODULE_PATH, --module-path=MODULE_PATH</code></td>  <td>specify path(s) to module library (default=None)</td></tr>
        <tr><td><code>--new-vault-password-file=NEW_VAULT_PASSWORD_FILE</code></td>  <td>new vault password file for rekey</td></tr>
        <tr><td><code>-o, --one-line</code></td>  <td>condense output</td></tr>
        <tr><td><code>--output=OUTPUT_FILE</code></td>  <td>output file name for encrypt or decrypt; use - for stdout</td></tr>
        <tr><td><code>-P POLL_INTERVAL, --poll=POLL_INTERVAL</code></td>  <td>set the poll interval if using -B (default=15)</td></tr>
        <tr><td><code>--private-key=PRIVATE_KEY_FILE, --key-file=PRIVATE_KEY_FILE</code></td>  <td>use this file to authenticate the connection</td></tr>
        <tr><td><code>--scp-extra-args=SCP_EXTRA_ARGS</code></td>  <td>specify extra arguments to pass to scp only (e.g. -l)</td></tr>
        <tr><td><code>--sftp-extra-args=SFTP_EXTRA_ARGS</code></td>  <td>specify extra arguments to pass to sftp only (e.g. -f, -l)</td></tr>
        <tr><td><code>--ssh-common-args=SSH_COMMON_ARGS</code></td>  <td>specify common arguments to pass to sftp/scp/ssh (e.g. ProxyCommand)</td></tr>
        <tr><td><code>--ssh-extra-args=SSH_EXTRA_ARGS</code></td>  <td>specify extra arguments to pass to ssh only (e.g. -R)</td></tr>
        <tr><td><code>-S, --su</code></td>  <td>run operations with su (deprecated, use become)</td></tr>
        <tr><td><code>-R SU_USER, --su-user=SU_USER</code></td>  <td>run operations with su as this user (default=root) (deprecated, use become)</td></tr>
        <tr><td><code>-s, --sudo</code></td>  <td>run operations with sudo (nopasswd) (deprecated, use become)</td></tr>
        <tr><td><code>-U SUDO_USER, --sudo-user=SUDO_USER</code></td>  <td>desired sudo user (default=root) (deprecated, use become)</td></tr>
        <tr><td><code>--syntax-check</code></td>  <td>perform a syntax check on the playbook, but do not execute it</td></tr>
        <tr><td><code>-T TIMEOUT, --timeout=TIMEOUT</code></td>  <td>override the connection timeout in seconds (default=10)</td></tr>
        <tr><td><code>-t TREE, --tree=TREE</code></td>  <td>log output to this directory</td></tr>
        <tr><td><code>-u REMOTE_USER, --user=REMOTE_USER</code></td>  <td>connect as this user (default=None)</td></tr>
        <tr><td><code>--vault-password-file=VAULT_PASSWORD_FILE</code></td>  <td>vault password file</td></tr>
        <tr><td><code>-v, --verbose</code></td>  <td>verbose mode (-vvv for more, -vvvv to enable connection debugging)</td></tr>
        <tr><td><code>--version</code></td>  <td>show program's version number and exit</td></tr>
    </tbody>
    </table>
</div>

<h5><a href="cheatsheets/MayccollUtils/Ansible/README.md">Ansible Examples</a></h5>

Usage: ansible-playbook playbook.yml

Options:
  --ask-become-pass     ask for privilege escalation password
  -k, --ask-pass        ask for connection password
  --ask-su-pass         ask for su password (deprecated, use become)
  -K, --ask-sudo-pass   ask for sudo password (deprecated, use become)
  --ask-vault-pass      ask for vault password
  -b, --become          run operations with become (nopasswd implied)
  --become-method=BECOME_METHOD
                        privilege escalation method to use (default=sudo),
                        valid choices: [ sudo | su | pbrun | pfexec | runas |
                        doas ]
  --become-user=BECOME_USER
                        run operations as this user (default=root)
  -C, --check           don't make any changes; instead, try to predict some
                        of the changes that may occur
  -c CONNECTION, --connection=CONNECTION
                        connection type to use (default=smart)
  -D, --diff            when changing (small) files and templates, show the
                        differences in those files; works great with --check
  -e EXTRA_VARS, --extra-vars=EXTRA_VARS
                        set additional variables as key=value or YAML/JSON
  --flush-cache         clear the fact cache
  --force-handlers      run handlers even if a task fails
  -f FORKS, --forks=FORKS
                        specify number of parallel processes to use
                        (default=5)
  -h, --help            show this help message and exit
  -i INVENTORY, --inventory-file=INVENTORY
                        specify inventory host path
                        (default=/usr/local/etc/ansible/hosts) or comma
                        separated host list
  -l SUBSET, --limit=SUBSET
                        further limit selected hosts to an additional pattern
  --list-hosts          outputs a list of matching hosts; does not execute
                        anything else
  --list-tags           list all available tags
  --list-tasks          list all tasks that would be executed
  -M MODULE_PATH, --module-path=MODULE_PATH
                        specify path(s) to module library (default=None)
  --new-vault-password-file=NEW_VAULT_PASSWORD_FILE
                        new vault password file for rekey
  --output=OUTPUT_FILE  output file name for encrypt or decrypt; use - for
                        stdout
  --private-key=PRIVATE_KEY_FILE, --key-file=PRIVATE_KEY_FILE
                        use this file to authenticate the connection
  --scp-extra-args=SCP_EXTRA_ARGS
                        specify extra arguments to pass to scp only (e.g. -l)
  --sftp-extra-args=SFTP_EXTRA_ARGS
                        specify extra arguments to pass to sftp only (e.g. -f,
                        -l)
  --skip-tags=SKIP_TAGS
                        only run plays and tasks whose tags do not match these
                        values
  --ssh-common-args=SSH_COMMON_ARGS
                        specify common arguments to pass to sftp/scp/ssh (e.g.
                        ProxyCommand)
  --ssh-extra-args=SSH_EXTRA_ARGS
                        specify extra arguments to pass to ssh only (e.g. -R)
  --start-at-task=START_AT_TASK
                        start the playbook at the task matching this name
  --step                one-step-at-a-time: confirm each task before running
  -S, --su              run operations with su (deprecated, use become)
  -R SU_USER, --su-user=SU_USER
                        run operations with su as this user (default=root)
                        (deprecated, use become)
  -s, --sudo            run operations with sudo (nopasswd) (deprecated, use
                        become)
  -U SUDO_USER, --sudo-user=SUDO_USER
                        desired sudo user (default=root) (deprecated, use
                        become)
  --syntax-check        perform a syntax check on the playbook, but do not
                        execute it
  -t TAGS, --tags=TAGS  only run plays and tasks tagged with these values
  -T TIMEOUT, --timeout=TIMEOUT
                        override the connection timeout in seconds
                        (default=10)
  -u REMOTE_USER, --user=REMOTE_USER
                        connect as this user (default=None)
  --vault-password-file=VAULT_PASSWORD_FILE
                        vault password file
  -v, --verbose         verbose mode (-vvv for more, -vvvv to enable
                        connection debugging)
  --version             show program's version number and exit
