body {  margin: 0px;  padding: 0px; font-family: Helvetica, Arial, "Lucida Grande", sans-serif;  font-size: 12px;font-style: normal; color:#fff;  }
@font-face {font-family: "bs_condBld"; src: url('../fonts/bs_condBld.woff?#iefix') format('woff');  }
@font-face {font-family: "bs_xtr_cmp_m";  src: url("../fonts/bs_xtr_cmp_m.woff?#iefix'"); format("woff");}
@font-face {font-family: "bs_bold";  src: url('../fonts/bs_bold.woff?#iefix') format('woff');}


@font-face {font-family: "bs_med.woff";  src: url('../fonts/bs_med.woff?#iefix') format('woff');}


.abso{position: absolute; display: block;}
/*sup{position:relative; font-size: 20%; top:-2.91em;}*/
#banner-border{position: absolute; left: 0; top: 0; border: 1px solid grey; pointer-events: none; z-index: 1300;}
#container { position: absolute;  display: block; background-color: #fff;  width: 728px;  height: 90px; overflow: hidden; opacity:0.0; }

#frm_1{position: absolute; display: block; opacity: 0.0;}
#frm_2{position: absolute; display: block; opacity: 0.0;}
#headline_hold_1{position: absolute; display: block; left:370px; top:17px; width:300px;}
#headline_hold_2{position: absolute; display: block; left:322px; top:9px; width:260px;}

.sb_bold{font-family: "bs_condBld", Arial, sans-serif;font-weight: normal;}
.sb_xCondMed{font-family: "bs_xtr_cmp_m", Arial, sans-serif; font-weight: normal;}
.bs_bold{font-family: "bs_bold", Arial, sans-serif; font-weight: normal;}

#h_1_frm_1{position: absolute; display: block;font-size: 12px; left:0px; top:0px; text-align: center; width:100%;letter-spacing: .03em;text-shadow: 1px 1px 1px #FFF;}
#h_2_frm_1{position: absolute; display: block;font-size: 32px; left:0px; top:16px; text-align: center; width:100%;letter-spacing: .01em;text-shadow: 1px 1px 1px #FFF;}
#h_3_frm_1{position: absolute; display: block;font-size: 12px; left:0px; top:49px; text-align: center; width:100%;letter-spacing: .03em;text-shadow: 1px 1px 1px #FFF;}

#h_1_frm_2{position: absolute; display: block;font-size: 25px; left:0px; top:0px; text-align: center; width:100%;letter-spacing: .03em;text-shadow: 1px 1px 1px #FFF;}
#h_2_frm_2{position: absolute; display: block;font-size: 25px; left:0px; top:26px; text-align: center; width:100%;letter-spacing: .0em;text-shadow: 1px 1px 1px #FFF;}
#h_3_frm_2{position: absolute; display: block;font-size: 9.5px; left:0px; top:41px; text-align: center; width:100%;letter-spacing: -.03em;line-height: 1.3em;text-shadow: 1px 1px 1px #FFF;}


/*.sb_bold2{font-family: "aBentonSnsBold", Arial, sans-serif;font-size: 11px; width:100%; text-align: center;}*/

#logo_frm1{position: absolute; display: block;left:25px; top:26px; }

/*#cta_hold{position: absolute; display: block;width:121px;height: 28px;left:160px; top:200px;}
#cta_bg{position: absolute; display: block;width:100%; height: 28px;background-color: #772572;-moz-border-radius: 6px;border-radius: 6px;  }
#cta_copy{position: absolute; display: block; top:7px;color:#fff;font-family: "bs_med", Arial, sans-serif;font-size:14px;text-align: center;}*/

#cta_hold{position: absolute; display: flex;width:111px;height: 28px;left:594px; top:31px;background-color: #772572;-moz-border-radius: 6px;border-radius: 6px; overflow:hidden;}
#shimmer{position:absolute; left:-111px; opacity:.3}
#cta_copy{color:#FFF;font-family: "bs_med", Arial, sans-serif;font-size:14px; width:100%;text-align: center; margin: auto;}
.strut{display:inline-block; height: 28px;}

#disclaimer{position: absolute; display: block;font-family:  Arial, sans-serif;font-size:8px; width:246px;left:602px; top:71px; text-align: left;color:#d9d9d9;}

#hero{position: absolute;  display: block; height:90px;}

#btn{position: absolute; display: block; top:0px; left:0px; width: 100%; height: 100%;background-color: aqua; opacity: 0.0;}

sup {
  vertical-align: text-top;
  font-size:.25em;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	sup {
	  font-size:.3em;
	  vertical-align:top;
	  position:relative;
	  top:2px;
	}
	
	#h_2_frm_1 {
		top:13px;
	}
}